// Variables
$color-fizz: purple;
$bg-color-fizz: hotpink;
$color-buzz: darkgreen;
$bg-color-buzz:lightgreen;
$color-fizzbuzz: maroon;
$bg-color-fizzbuzz: tomato;

$theme-background: #33CCFF;
$theme-primary: #FFFF66;
$theme-dark: #222;
